.modal {
  display: none;
  position: fixed; 
  z-index: 99999999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  background-color: rgba(0,0,0, 0.87);
}

.modal-content-lgpd {
  position: fixed;
  background-color: #fefefe;
  bottom: 0;
  margin: auto;
  padding: 40px 20px;
  width:100%;
  background-color: #20cf55;
  color: #ffffff;
}
.modal-content-lgpd a {
    color: #ffffff;
}

.close-modal-lgpd {
  position: absolute;
  top: 0;
  right: 10px;
  color: #aaaaaa;
  font-size: 32px;
  font-weight: bold;
}

.close-modal-lgpd:hover,
.close-modal-lgpd:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.div-buttons {
    text-align: right;
}

.lgpd-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.lgpd-btn-danger {
    color: #ffffff;
    background-color: #ff0000;
    border-color: #ff0000;
}

.lgpd-btn-success {
    color: #ffffff;
    background-color: #41a53e;
    border-color: #41a53e;
}

@media screen and (min-width: 220px) and (max-width: 319px) {
    .modal-content-lgpd {
        padding: 30px 6px;
        width:100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 63.9375em) {
    .modal-content-lgpd {
        padding: 30px 10px;
        width:100%;
    }
}
